<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
<link rel='stylesheet' href='/style.css'>
</head>
<body>

<div id='menutop'>
	<ul>
		<li>Hello <span id='userName'><%- username %></span></li>
		<li><a href='/home'>Home</a></li>
		<li><a href='/logout'>Log Out</a></li>
	</ul>
</div>

<div id='chatarea'>

	<h2>You are chatting in room <span id='rmname'><%- roomname %></span></h2>
	<br><br>
	<div id='storedMsgs'></div>
	<br><br>
	<textarea id='message'></textarea><br><Br>
	<button onclick='sendMessage(<%- roomname %>)'>Send Message</button>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io();
	
	function sortMsgs(msg1, msg2) {
		if (msg1.timestamp < msg2.timestamp) return -1;
		else if (msg1.timestamp > msg2.timestamp) return 1;
		else return 0;
	}
	
	socket.emit('getMsgs', {
		rmname: document.getElementById('rmname').innerHTML
	});
	
	socket.on('recvMsgs', function(result) {		
		result.msgs.sort(sortMsgs);
		
		var msgResults = "";
		
		for (msg in result.msgs) {
			msgResults += "<div id='msg'>";
			msgResults += result.msgs[msg].sender + " " + result.msgs[msg].timestamp + "<br>";
			msgResults += result.msgs[msg].message;
			msgResults += "</div><br>";
		}
		
		document.getElementById('storedMsgs').innerHTML = msgResults;
	});	
</script>
<script src="/client.js"></script>
</body>
</html>