<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
<link rel='stylesheet' href='/style.css'>
</head>
<body>

<div id='menutop'>
	<ul>
		<li>Hello <span id='userName'><%- username %></span></li>
		<li><a href='/home'>Home</a></li>
		<li><a href='/logout'>Log Out</a></li>
	</ul>
</div>

<div id='chatarea'>

	<h2>You are chatting in room <%- roomname %></h2>

	<br><br><br>
	<!--
	List previous messages
	 - realtime - show new messages as they appear
	 - show the message and the user
	 - Keep it all within the screen, let the user scroll to see previous messages

	Message entry
	-->
	<br><br><br>
	<textarea id='message'></textarea><br>
	<button onclick='sendMessage(<%- roomname %>)'>Send Message</button>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
</body>
</html>