body {
	font-family: "Open Sans", Verdana;
	text-align: center;
	background-color: #D2CCA1;
	color: #636466;
}

input, textarea {
	background-color: #DDD8C4;
	color: #636466;
	border: 0px;
	padding: 5px;
	font-size: 16px;
}

input[type="submit"], button {
	background-color: #636466;
	color: #DDD8C4;
	border: 0px;
	padding: 5px;
	font-size: 16px;
}

input[type="submit"]:hover, button:hover {
	background-color: #053761;
}

/**************************************
The top menu for the site
**************************************/
#menutop {
	background-color: #053761;
	color: #DDD8C4;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	font-size: 20px;
}

#menutop ul {
	list-style-type: none;
	overflow: hidden;
}

#menutop li {
	display: inline-block;
	margin: 20px;
}

#menutop a {
	color: #DDD8C4;
}

#menutop a:hover {
	text-decoration: none;
	color: #F1D3A5;
}

/**************************************
The body of the homepage
**************************************/
#homearea {
	margin-top: 120px;
}

table {
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #636466;
	font-size: 16px;
}

table td, table th {
	border: 2px solid #636466;
	padding: 5px;
}

table th {
	background-color: #053761;
	color: #F1D3A5;
}

table td {
	background-color: #DDD8C4;
	color: #636466;
}

/**************************************
The body of the chat room
**************************************/
#chatarea {
	margin-top: 120px;
}

#message {
	width: 50%;
	height: 100px;
}

#storedMsgs {
	width: 60%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #B8B9BB;
	color: #053761;
	padding: 20px;
	overflow: scroll;
	font-size: 16px;
}

#msg {
	text-align: left;
}
